.cover-image {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: 0;
  transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -webkit-transition: opacity 0.33s ease-in-out;
}

.cover-image:hover {
  opacity: 0.5;
  transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -webkit-transition: opacity 0.33s ease-in-out;
}

/* overlay */
.outer-div {
  position: relative;
  margin: 5px;
}

.outer-div:hover .hover-img {
  display: block;
}

.outer-div .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: none;
  /* color: white; */
}
